.game {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: auto auto;
  min-height: 200px;
  width: 102px;
  margin-top:40px;
}

.game-info {
  margin-bottom: 10px;
}

.restart {
  margin-top: 10px;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.cell:focus {
  outline: none;
  background: #ddd;
}

